<!DOCTYPE html>
<html>
<head>
  <title>COMMENTS</title>
</head>
<body>
  <div class="comment-box">
    <h2>Comments</h2>

    <div class="comment-single parent">
      <div class="previous comment">
          <a href="#" class="comment-previous">View Previous Comments</a>
      </div>
      <div class="row">
        <div class="col-2 profile">
          {% for o in object %}
          <br>
          <img src="img/user.png" width="50px"/>
        </div>
        <div class="col">
          <div class="row">
          
          <p>User: {{ o.comment_obj.user }}</p>
         
        </div>
        <div class="row comment">
          <p>{{ o.comment_obj.comments_text }}
            {{ o.counts }}
          </p><br>
        
        </div>
        <div class="row reply">
          <a href="#" class="comment-reply">Reply</a>  {{ obj }}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</body>
</html>

