<!DOCTYPE html>
<html>
<head>
	<title>COMMENTS</title>
</head>
<body>
 
	    {% for comment in comments_all_obj %}
	      <p>{{ comment.comments_text }}</p>
	   {% endfor %}
	    <input type='submit' value='Reply' /> <br>
    <form method="POST"  >
        {% csrf_token %}
    	{% for boundfield in form %}
        {% if boundfield.as_hidden == True %}
           {{ boundfield.as_hidden }}
        {% endif %}
        {% endfor %}<br>
        {% for boundfield in form.visible_fields %}
        
           {{  boundfield.errors }}
       	
           {{  boundfield }}
       	{% endfor %}<br>
	    <input type='submit' value='Comment'/> 
    </form>
</body>
</html>

	 
	 