<!DOCTYPE html>
<html>
<head>
	<title>SHARING</title>
</head>
<body>
	<form action='.' method='POST'> {% csrf_token %}
	<p>Hello</p><br>
	{{ shareview.user }}<br>
	{{ shareview.share_id }}
	</form>
</body>
</html>