<!DOCTYPE html>
<html>
<head>
	<title>REST API CHECK</title>
</head>
<body>
	<form action='.' method='POST'> {% csrf_token %}
		User:<br>
		{{ obj_m.users }}<br>
		Api key:<br>
		{{ obj_m.api_key }}<br>
		Count:<br>
		{{ obj_m.count }}
	</form>
</body>
</html>