<!DOCTYPE html>
<html>
<head>
	<title>REST API MOBILE</title>
</head>
<body>
	<form action='.' method='POST'> {% csrf_token %}
	<p>Hello</p><br>
	<input type='submit' value='Api key' />
	</form>
</body>
</html>