{% extends "main.html" %}
{% load static %}
{% load news_utils %}
{% block sitetitle %}
         <title>Page Not Found || {{ site.title|default:"Kathmandu Tribune" }} </title>
{% endblock %}

{% block content %}

<div class="news-page">
        <div class="content container">
                <div class="row featured-posts">
                    <div class="news-post col-lg-8 col-md-12 col-sm-12 col-xs-12">
                      <h2 class="new-title">Page not found!</h2>
                     </div>
                </div>
        </div> <!-- Featured section -->
</div><!-- main -->
      
{% endblock %}