<!DOCTYPE html>
<html>
    <head>
        <title>Template inheritance</title>
    </head>
    <body>
        
        {% include 'nav.html' %}
        {% block content %}
        replace me
        {% endblock %}
    </body>
</html>