{% load static from staticfiles %}
{% load news_utils %}
<!DOCTYPE html>
<html lang="{{ site.site|default:'en' }}">
    <head>
        {% block sitetitle %}
         <title> {{ site.title|default:"Kathmandu Tribune" }}  </title>
        {% endblock %}
        <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'site/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'site/css/animate.min.css' %}">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'site/plugins/owlcarousel/dist/assets/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'site/plugins/owlcarousel/dist/assets/owl.theme.default.min.css' %}">
        {% block rating_css %}
        {% endblock %}

        {% block meta %}
        {% endblock %}

    </head>

    <body>
        {% block header%}
        <header>
            <nav class="navbar navbar-expand-md navbar-light bg-light small-menu">
              <div class="container">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Sign in</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Our values</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Careers</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Add a post</a>
                    </li>
                  </ul>
                  <a class="btn btn-outline-success" href="#search"> <i class="fa fa-search" aria-hidden="true"></i> <span id="search-button">Search</span></a></li>

                </div>
              </div>
            </nav>


            <div class="text-center">
              <img class="img-fluid" src="{{ MEDIA_URL }}{{ site.header|default:'header/2019/03/03/KT-headline.jpg' }}">
            </div>

              <nav class="navbar navbar-expand-lg navbar-dark bar-default navbar-inverse bg-inverse top-menu">
                <a class="navbar-brand" href="#"></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon navbar-dark"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="nav navbar-nav">
                      {% autoescape off %}
                               {{ site.site|getMenu }}
                      {% endautoescape %}
                     <!--<li class="nav-item">-->
                     <!--   <a class="nav-link" href="#">Nepal</a>-->
                     <!-- </li>-->
                     <!-- <li class="nav-item">-->
                     <!--   <a class="nav-link" href="#">Politics</a>-->
                     <!-- </li>-->
                     <!-- <li class="dropdown mega-dropdown"> <a class="nav-link" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars" aria-hidden="true"></i> All Categories</a>-->

                     <!--       <div class="dropdown-menu">-->
                     <!--   <div class="px-0 container container-sm">-->
                     <!--     <div class="row">-->
                     <!--       <div class="col-sm-6 col-md-x">-->
                     <!--         <a class="dropdown-item" href="#">Action</a>-->
                     <!--         <a class="dropdown-item" href="#">Another action</a>-->
                     <!--         <a class="dropdown-item" href="#">Something else here</a>-->
                     <!--         <a class="dropdown-item" href="#">Or a link</a>-->
                     <!--         <a class="dropdown-item" href="#">Action</a>-->
                     <!--         <a class="dropdown-item" href="#">Another action</a>-->
                     <!--       </div>-->
                     <!--       <div class="col-sm-6 col-md-x">-->
                     <!--         <a class="dropdown-item" href="#">Something else here</a>-->
                     <!--         <a class="dropdown-item" href="#">Or a link</a>-->
                     <!--         <a class="dropdown-item" href="#">Action</a>-->
                     <!--         <a class="dropdown-item" href="#">Another action</a>-->
                     <!--         <a class="dropdown-item" href="#">Something else here</a>-->
                     <!--         <a class="dropdown-item" href="#">Or a link</a>-->
                     <!--       </div>-->
                     <!--     </div>-->
                     <!--   </div>-->
                     <!-- </div>-->
                     <!-- </li>-->
                    </ul>
                  </div>

                <div id="search">
                <button type="button" class="close">×</button>
                <form>
                    <input type="search" value="" placeholder="Type keyword(s) here" />
                    <button type="submit" class="btn btn-primary search-button">Search</button>
                </form>
                </div>

            </nav>
      </header>
        {% endblock header%}


    {% block content %}
    {% endblock content %}



<footer>
    <div class="content container">
    {% autoescape off %}
                               {{ site.site|get_footer_sections }}
    {% endautoescape %}
    </div>
        <div class="content container">
              <div class="row">
                  <div class="col-sm-12">

                      <p class="main"> All contents &copy; 2014 <a href="#">kathmandutribune.com</a>. All rights reserved.<p>
                  </div>
              </div>
        </div>
      </footer>


  <a href="#" class="back-to-top">Back to Top</a>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
{% block site_js %}
<script src="{% static 'site/js/myscript.js' %}"></script>
{% endblock %}
<script src="{% static 'site/plugins/owlcarousel/dist/owl.carousel.min.js' %}"></script>

{% block rating_js %}
{% endblock %}

{% block comment_js %}
{% endblock %}
</body>
</html>
