{% load static %}
<div class="rating-box">
    <form id="addRatingForm" action="" method="POST">
    {% csrf_token %}
    {{ rating_form.rating_s }}
    {{ rating_form.news }}
    {{ rating_form.user }}
	</form>                       	
</div>