/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 15 Sep, 2016, 12:18:47 PM
    Author     : vikku
*/

@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800|Roboto+Slab:100,300,400,700';

body{
  /*padding-top: 50px;*/
  font-weight: 300;
  font-size: 2em;
  position: relative;
}

body, p {
    font-family: Verdana, Geneva, sans-serif;
}

body, p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 21px;
}


.page{
    padding: 10px 0px;
}
/* Navbar defaults*/
.navbar {
  border-radius: 0;
  border: 0;
}
/* Header and navigation section*/
header .navbar{
    transition: all .8s ease-out;

}

/*  Inbody effect*/


header .navbar.inbody{
    padding-top: 0;
    padding-bottom: 0;

}

header .inbody .navbar-brand h1{
    font-size: 1.1em;
    padding-left: 38px;
    margin-top: -10px;
}

header .navbar.inbody navbar-nav{
    padding-top: 10px;
}
header .inbody .navbar-brand span.subhead{
   /* display:none;*/
}

header .navbar.top-menu{
    /* padding: 30px 0px; */
}
header .navbar.small-menu{
  padding: 0;
}

header .bar-default{
    /*background-color: rgba(0, 0, 0,0.8);*/
    background-color: black;
    border: none;
}

.bar-default {

}
/* .navbar-toggler-icon{
   background: floralwhite!important;
} */

.bar-default .navbar-nav>li>a {
    color: white !important;
    /* font-size: 0.8em; */
}

.bar-default .navbar-nav>li>a:hover {
    color: black !important;
    background-color: rgb(209, 221, 243);
}

.bar-default .navbar-nav>li.active>a {
    color: black !important;
    background-color: rgb(209, 221, 243);
    font-weight: 400;
    /*border-bottom: 2px solid white;*/
}

.bar-default .navbar-nav>li.active>a:hover {
    color: black;
    background-color: white;
    font-weight: 400;
}

.search-button, .btn{
      font-size: 0.8rem;
}


/* Navbrand and subhead*/
/*
.navbar-brand h1{
    color: white;
    margin: 0;
    font-size: 1.8em;
    font-weight: 700;
    padding-left: 0px;
    margin-top: -27px;
}
.subhead{
    font-size: 0.8em;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 100;
    display: block;

}*/

/*          Mega menu       */

.dropdown-menu {
  z-index: 2000;
}

.navbar-nav>li>.dropdown-menu {
    /* margin-top:20px; */
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    margin-top: -3px;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.open .dropdown-toggle:after {
    border-bottom: 15px solid #fff;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    content: "";
    left: 70px;
    position: absolute;
    bottom: -21px;
    z-index: 1500;
}
.open .dropdown-toggle span:after {
    border-bottom: 17px solid #ccc;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    content: "";
    left: -10px;
    position: absolute;
    bottom: -41px;
    z-index: 8;
}

.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}
.mega-dropdown-menu > li > ul > li {
    list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover, .mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: #444;
    background-color: #f5f5f5;
}
.mega-dropdown-menu .dropdown-header {
    color: #428bca;
    font-size: 18px;
    font-weight:bold;
}
.mega-dropdown-menu form {
    margin:3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}

@media (min-width: 768px) {
  ul.nav .dropdown:hover > .dropdown-menu {
    display: block;
  }
  ul.nav .dropdown > .dropdown-menu {
    display: none;
  }
}


@media (min-width: 768px){
.dropdown-menu {
    width: 650px;
}

.small.dropdown-menu {
    width: 250px;
}


}
.category-view ~ .dropdown-menu {
    width: 230px;
    /* margin-right: 65px; */
    margin-left: 130px;
    z-index: 2000;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #419588;
}

.share-view ~ .dropdown-menu {
    width: 70px;
    z-index: 2000;
}
.category-name .col h2{
  font-family: Verdana, Geneva, sans-serif;
}
.breadcrumb{
  background-color: transparent;
    border-radius: none;
}
.breadcrumb li a{
  text-decoration: none;
  color: #419688;
}

.category-name .col .dropdown .btn {
    color: #fff;
    background-color: #419688;
    border-color: #419688;
}
.row.comment .col{
    margin-right: 48px;
    padding-left: 0px;
}
/*.load-reply.comment {*/
/*        margin-top: -10px;*/
/*}*/
.comment-single{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(165,165,165,.19);
  margin-bottom: 10px;
  border-radius: 10px;
  padding-left: 20px;
}
.comment-single.parent{
  text-align: left;
}
.comment-single.child{
  padding-left: 50px;
}

.related-box{
  padding-top: 40px;
}

.news-post img{
  max-width: 100%;
}
/* .comment-single.parent :after {
    position: absolute;
    bottom: -35px;
    left: 0;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0 0;
    border-color: #000 transparent transparent transparent;
} */

/* Navbar toggle*/
@media only screen
and (max-width: 768px){
header .navbar-collapse.in{
    //background-color: rgba(0,0,0,.7);
}

header .navbar{
    padding: 10px 0px 5px 0px;
    border: none;

}

}

@media (max-width: 1018px) and (min-width: 768px)
{
  .bar-default .navbar-nav>li> a {
    font-size: 14px !important;
}
}

/*
.enlarge {
    width: 100%;
    float: left;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.carousel a:hover > img.enlarge {
    width: 120%;
       -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  cursor: pointer;
} */

/* Caraousel css */

#main-section{
  margin-top: 50px;

}
 .carousel.col{
/* padding-right: 10px; */
padding-left: 16px;
}
.owl-carousel{
  padding-left: 16px;
}
.carousel{
  padding-right: 2px;
}
.col-lg-6{
  padding-left: 2px;
}
.owl-slide  .carousel.col{
  padding-left: 0px!important;
  padding-right: 0px;
}
.slide-active .carousel.col{
  padding-right: 10px;
}

.owl-slide  .owl-carousel{
  padding-left: 0px;
  padding-right: 10px;
  margin-left: 0px;
}

#main .owl-slide{

}
/* .row{
  padding-right: 2px;
  padding-left: 2px;

} */
#main-section #main{
  margin-bottom: 2px;
}
#main-section #secondary{

  margin-bottom: 2px;
}


@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}


.carousel a{
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
/* .carousel a:hover > img {
  -webkit-animation: zoom 1s;
  animation: zoom 1s;
} */

.thumbnail {
/* background-color: rgba(0, 0, 0, 0.6);
opacity: 0.5; */
-webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}


.carousel-caption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}
.carousel-caption:hover{
  background-color: rgba(0, 0, 0, 0.6);
  transition: box-shadow 0.3s ease;
}

.carousel-caption:hover + img{
  -webkit-transform: scale(1.2);
 -ms-transform: scale(1.2);
 transform: scale(1.2);
}

.featured-slide-link:hover > .thumbnail {


}


.carousel-caption .category{
  position: relative;
  font-size: .8em;
  top: 30%;
    background: rgba(0,0,0,.9);
    width: 22%;
    margin:auto;
    vertical-align:middle;
}
.carousel-caption:hover  .category{
      background: rgba(84, 167, 149, 0.9);
}

.carousel-caption .title{
  position: relative;
  top: 33%;
  font-size: 1.5em;
}
#secondary .featured-slide-link .carousel-item > .carousel-caption .title{
font-size: .8em;
}

#secondary .featured-slide-link .carousel-item > .carousel-caption .details{
display: none;
}
.carousel-caption .details{
  position: relative;
  top: 40%;
  font-size: .8em;
}

.carousel-caption .details b{
  font-weight: bold;
}
/*

.carousel a:last-child:before{
bottom: 0;
content: "";
display: block;
height: 100%;
width: 100%;
position: absolute;
background-color: rgba(0, 0, 0, 0.6);
z-index: 1;
}

.carousel a:last-child:before {
    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
}
 */

#featured-post .content h2.title {
    font-size: 1rem;
    text-transform: uppercase;
}
.featured-posts .post a h2{
  font-size: 21px;
  line-height: 25px;
  font-family: "Open Sans";
  text-decoration: none;
  font-weight: 400;
  margin-bottom: 0;
}

.featured-posts .post a writer{
font-size: 21px;
color: #000;
font-weight: bold;
font-size: 11px;
line-height: 1;
}
.featured-posts .post a writer span{
color: #aaa;
font-size: 11px;
line-height: 1;
text-align: right;
}



#featured .carousel-inner .item img{
    width: 100%;
}

/* #featured .carousel-inner .carousel-caption {
    position: absolute;
    width: 100%;
    min-height: 100px;
    //right: 15%;
    //bottom: 0px;
    //left: 15%;
    z-index: 10;
    //padding-top: 20px;
    //padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: none;
    bottom:0px;
    right:25%;
    left:50%;
    margin-left:-50%;
    height: 0px;
    background: rgba(0,0,0,.6);
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
} */

#featured:hover .carousel-inner .carousel-caption{
    opacity: 1;
}

#featured .carousel-inner .carousel-caption a{
    color: white;

}
#featured .carousel-inner .carousel-caption a:hover{
    text-decoration: none;


}
/*  Sidebar */
marquee {
    /* background: rgb(209, 221, 243); */
    max-height: 345px;
}

.tab-content{
    padding-top: 25px
}

.tab-story a{
    color: black;
}

.tab-story a:hover{
    text-decoration: none;

}

.tab-story a strong{
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1em;
}
.tab-story a p{
    font-weight: 200;
    font-size: .8em;
}
.tab-story{
    padding-bottom: 10px

}

.tab-story a img {
    width: 100%;
    display: block;
}

.tab-story span.time {
    font-size: .7em;
    margin-top: 2px;
    display: block;
}
/* Special Search */


#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);

    opacity: 0;
    z-index: 20;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
    line-height: 80px;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
}
.search-button{
    background-color: #3b5998;
}


/*
    featured posts
*/

.page .content h2{
    text-align: left;
    /* border-bottom: 5px solid rgba(209, 221, 243, .5); */
    border-bottom: 2px solid #009688;
}


.featured-posts .post{
     /* box-shadow: 0.5px 1px 1px 1px #888888; */
}
.featured-posts .post:hover{
     box-shadow: 3px 3px 3px 3px #888888;
}

.post a img{
    width: 100%;
}
.post a{
    color: black;

}
.post a{
    color: black;
    text-decoration: none;

}


.post a h2{
    /* font-family: "Roboto Slab", sans-serif; */
    font-size: 1.1em;
    font-weight: 700;
}
.posts a h2{
    /* font-family: "Roboto Slab", sans-serif; */
    font-size: 1em;
    font-weight: 500;
}
.post a p{
    font-size: .8em;
    font-weight: 300;
}
/*
.post .category{
    text-align: left;
    background: grey;
    color: white;

}*/


@media (max-width: 768px) {
    .post{
        width: 90%;
        /* padding: 5% 5% 5% 5%;
        margin: 5% 5% 5% 5%; */

    }
}

@media (min-width:  768px) and (max-width: 992px) {
    .post{
        width: 46%;
        /* padding: 2% 2% 2% 2%;
        margin: 2% 2% 2% 2%; */

    }
}
.post{
  padding-top: 10px;
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
        position:relative;
}
@media (min-width: 992px) {
    .post{
            width: 31%;
            /* padding: 2% 2% 2% 2%;
            margin: 1% 1% 1% 1%; */

        }

}

/* Sections page*/

.section.post ul li{
  display: inline;
}
.section.post ul{
    padding-left: 0;
}


.section.post ul li a, .section.posts ul li a{
    text-decoration: none;
}
.section.post ul li:first-child a h2{
    font-family: "Roboto Slab", sans-serif;
    font-size: 1.1em;
    font-weight: 700;
    color: black;
    border-bottom: 5px solid rgba(209, 221, 243, .5);
}
.section.post ul li a h2{
    font-family: "Roboto Slab", sans-serif;
    font-size: .9em;
    font-weight: 400;
    color: black;
    border-bottom: none;
    margin: 5px;

}




span a.category
{
    z-index:19;
    position:absolute;
    color:white;
    font-size:20px;
    font-weight:400;
    left:15px;
    top:10px;
    background: #343a40;
    padding-left: 5px;
    padding-right: 2px;
}

span a.comments
{
    z-index:19;
    position:absolute;
    color:white;
    font-size:8px;
    font-weight:400;
    left:90%;
    min-width: 17px;
    top:2%;
    background: #343a40;
    /* padding: 3px 4px 4px 5px; */
    padding-left: 5px;
    padding-right: 5px;

}
span a.comments:after {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px 3px 0 0;
    border-color: #000 transparent transparent transparent;
}


.post a:hover ~ span  a.category
{
    background: rgba(84, 167, 149, 0.9);

}
.post a:hover ~ span  a.comments
{
    background: rgba(84, 167, 149, 0.9);


}

.post a:hover ~ span  a.comments:after{
    border-color: rgba(84, 167, 149, 0.9) transparent transparent transparent;
}

.post a:hover  h2,.posts a:hover  h2, .page.two-sections .content .row .col  a.row:hover  h2, .cat-posts a.row:hover .col h2 {
    color: rgb(84, 167, 149);
}
.post a h2{
  border-bottom: none !important;
}

.page.two-sections .content .row .col  a.row time span{
color: #aaa;
font-size: 10px;
line-height: 1;
text-align: right;
}


.featured-posts .posts a{
  text-decoration: none;
}

.featured-posts .posts a time{
font-size: 10px;
color: #000;
font-weight: bold;
font-size: 11px;
line-height: 1;
}
.featured-posts .posts a time span{
color: #aaa;
font-size: 10px;
line-height: 1;
text-align: right;
}

.posts a .col.img {
  padding-right: 0px;
padding-left: 15px;
}
.posts a .col {
  padding-right: 0px;
padding-left: 0px;
}


.posts span a.comments{
display: none;
}
.posts h2{
  font-family: "Roboto Slab", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: black;
  border-bottom: none;
  margin: 5px;
  border-bottom: none !important;
}
.posts span a.category{
  display: none;
}


.page.two-sections .content .row .col .post{
  width: 100%;
}

.page.two-sections .content .row .col  .post a writer {
    font-size: 21px;
    color: #000;
    font-weight: bold;
    font-size: 11px;
    line-height: 1;
}

.page.two-sections .content .row .col .post a writer span {
    color: #aaa;
    font-size: 11px;
    line-height: 1;
    text-align: right;
}

.page.two-sections .content .row .col .post {
    padding-top: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    position: relative;
    padding-left: 15px;

    padding-right: 15px;
}

.page.two-sections .content .row .col .post:hover{
     box-shadow: 3px 3px 3px 3px #888888;
}

.page .content .row .col a.row:hover, .posts a.row:hover, .cat-posts a.row:hover{
     box-shadow: 3px 3px 3px 3px #888888;
}

.posts a, .page .content .row .col a.row, .cat-posts a.row {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
  padding-top: 15px;

  padding-bottom: 15px;

}

.more-button{
  margin-top: 15px;
}


.page.two-sections .content .row .col .post p{
         padding-bottom: 16px;

}
.page.two-sections .content .row .col a.row{
  text-decoration: none;
      margin-left: 10px;
      margin-right : 10px;

}

.page.two-sections .content .row .col a.row h2 {
color: black;
font-size: 1em;
margin: 5px;
border-bottom: none !important;
}

.page.two-sections .content .row .col a.row time {
    font-size: 10px;
    color: #000;
    font-weight: bold;
    font-size: 11px;
    line-height: 1;
}

.page.two-sections .content .row .col a .col.img {
    padding-right: 0px;
    padding-left: 15px;
}

/* category page */

.category-page{

}

.bread-crumb{
  margin-top: 20px;
}

.category-page, .news-page {
  margin-top: 30px;
  min-height: 560px;
}
.news-post{
  padding-bottom: 30px;
}
.news-page,.news-post .post-content,.news-post .post-content p {
  font-family: "Open Sans";
}
.news-post .details{
      color: #444;
      float: left;
      font-size: 13px;
      font-weight: 400;
}
/* .news-post .details b{

} */
.news-post .featured-img img{
  width: 100%;
}
.featured-img span.credit, .featured-img span.credit a{
  text-decoration: none;
  color: black;
  font-size: 0.8em;
  font-family: "Open Sans";
}
.news-post .post-content{
  margin-top: 30px;
}
.news-post .post-content, .news-post .post-content p{
  margin-bottom: 26px;
  word-wrap: break-word;
  font-size: 15px;
  line-height: 26px;
  color: #222;
  font-weight: 400;
}

.rating-md {
 font-size: 19px !important;
}

@media (max-width: 1018px) and (min-width: 768px)
{
.rating-md {
    font-size: 15px !important;
}
}


@media (max-width: 768px) and (min-width: 512px)
{
.rating-md {
    font-size: 10px !important;
}
}
@media (max-width: 768px)
{
.rating-md {
    font-size: 10px !important;
}
}

.cat-posts a {
  text-decoration: none;
  color: black;
}

.cat-posts a h2{
    /* font-family: "Roboto Slab", sans-serif; */
    font-size: 1.2em;
    font-weight: 500;
}
.cat-posts a.row .col time span.category{
color: white;
font-size: 1em;
font-weight: 400;
background: #343a40;
}

.section.post ul li a, .section.posts ul li a{
    text-decoration: none;
}

span.category
{
    z-index:19;
    position:absolute;
    color:white;
    font-size:8px;
    font-weight:400;
    left:5%;
    min-width: 17px;
    top:1%;
    background: #343a40;
    /* padding: 3px 4px 4px 5px; */
    padding-left: 5px;
    padding-right: 5px;

}
span.children
{
    color:white;
    font-size:20px;
    font-weight:400;
    min-width: 17px;
    background: #343a40;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    margin-right: 10px;

}
a.children{
    text-decoration: none;
}
a:hover span.children  {
    background: rgb(84, 167, 149);
}

span.comments
{
    z-index:19;
    position:absolute;
    color:white;
    font-size:8px;
    font-weight:400;
    left:90%;
    min-width: 17px;
    top:1%;
    background: #343a40;
    /* padding: 3px 4px 4px 5px; */
    padding-left: 5px;
    padding-right: 5px;

}
span.comments:after {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px 3px 0 0;
    border-color: #000 transparent transparent transparent;
}

.cat-posts a.row:hover .col span.comments:after{
  border-color: rgba(84, 167, 149, 0.9) transparent transparent transparent;
}

.cat-posts a.row:hover .col span.comments, .cat-posts a.row:hover .col span.category{
  background: rgb(84, 167, 149);

}


.cat-pagination{
  margin-top: 20px;
}


.cat-posts a.row writer{
font-size: 21px;
color: #000;
font-weight: bold;
font-size: 11px;
line-height: 1;
}
.cat-posts a.row writer span{
color: #aaa;
font-size: 11px;
line-height: 1;
text-align: right;
}

.smart-sidebar.sticky-sidebar{
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.smart-sidebar.sticky-sidebar .sidebar__inner{
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding-top: 45px;
  padding-bottom: 30px;
  padding-left: 10px;
}
.sidebar__item{
    padding-bottom: 20px;
}
.sidebar__inner h4{
  font-size: 1.1em;
  font-weight: 600;
  border-bottom: 2px solid #009688;
}

.sidebar__inner p{
  font-size: 1em;
  font-weight: 300;
}

/*.sticky-sidebar{*/
/*    will-change: min-height;*/
/*}*/
/* .is-affixed .inner-wrapper-sticky{
  left: 70%!important;
} */

/*.sidebar__inner{*/
/*     transform: translate(0, 0); For browsers don't support translate3d.
/*    transform: translate3d(0, 0, 0);*/
/*    will-change: position, transform;*/
    /* margin-left: 30px; */
/*    padding-left: 30px;*/
/*}*/

/* cookie message
*/
.js_enabled #cookie-message {
    display: none;
}

/* Footer section */


footer{
    background: #343a40;
    color: white;
    font-size: .8em;
    padding: 20px 0 50px 0;
    font-weight: 400;
    margin-top: 40px;

}
footer a {
    color: white;
    font-weight: 700;
}

footer a:hover {
    text-decoration: none;
}
footer .phone{
    font-size: .9em;

    color: blue;
    font-weight: 700;

}
footer .navbar{
    margin-bottom: 0;
    min-height: 0;

}
footer .navbar-default {
  background: transparent;
  border: none;
  margin-right: 40px;
}
footer .nav-pills>li a{
    padding-top: 0;
    padding-bottom: 0;
    text-decoration: none;
    color: white !important;
}
footer .nav-pills>li a:hover{
     background: transparent;
}
ul.nav.nav-pills{
  display: block;
}
footer p.main{
    text-align: center;
}

footer .fa{
    font-size: 3em;
}


footer a.gplus:hover {
    text-decoration: none;
    color: red;
}


footer a.insta:hover {
    text-decoration: none;
    color: #c9302c;
}



footer a.twitter:hover {
    text-decoration: none;
    color: #31b0d5;
}

footer .row {

    padding-top: 20px;
}


a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #27AE61 url("../img/up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}


.form-control{
    width: 80%;
    display: inline;
}
