<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

    <form action='.' method='POST'> {% csrf_token %}
    	Email:
    	<input placeholder="Email" type="email" name="email"><br>
    	Name:
        <input placeholder="Name" type="text" name="name"><br>
        

	   <!--{{ form.as_p }}-->
	  Category: 
		<input type="radio" name="button" value="category1">category 1
		<input type="radio" name="button" value="category2">category 2
		<input type="radio" name="button" value="category3">category 3
		<input type="radio" name="button" value="category4">category 4
        <br>
	    <input type='submit' value='Save' /> 
	 </form>
</body>
</html>