{% extends "dashboard/main.html" %}
{% load admin_utils %}
{% load news_utils %}
{% load static from staticfiles %}


{% block sitetitle %}
{% if action %}
         <title> {{ action }} News || NTM - Dashboard</title>
         {% else %}
         <title> NTM - Dashboard</title>
{% endif %}
{% endblock %}

{% block dashboardcontent %}

{% if error == 'not_applicable' %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h1 mb-0 text-gray-800">Sorry! </h1>
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h3 class="h3 mb-0 text-gray-800">Arent you roaming in alien territory?</h3>
</div>

{% elif error == '404' %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h1 mb-0 text-gray-800">Sorry! </h1>
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h3 class="h3 mb-0 text-gray-800">The page you are looking for doesnt exists.</h3>
</div>


{% elif error == 'rejected' %}
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h1 mb-0 text-gray-800">Sorry {{ user }}! </h1>
                            
            </div>
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h3 class="h3 mb-0 text-gray-800">Your application for role of {{ role }} is rejected. </h3>
            </div>
       <div class="row">
                <div class="col-lg-12">
                    <!-- Approach -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Rejection Reason</h6>
                </div>
                <div class="card-body">
                  <p>{{ message }}</p>
                  
                </div>
              </div>

            </div>
          </div>

{% elif error == 'not_permitted' %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h1 mb-0 text-gray-800">Sorry {{ user }}! </h1>
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
            
            <h3 class="h3 mb-0 text-gray-800">You are not permitted to {{ action }} News posts.</h3>
</div>

           
{% elif error == 'under_review' %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h1 mb-0 text-gray-800">Sorry  {{ user }}! </h1>
            
</div>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h3 class="h3 mb-0 text-gray-800">Your application for the role of "{{ role }}" is under review.</h3>
</div>


{% elif error == 'nothing_fetched' %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h1 mb-0 text-gray-800">Sorry  {{ user }}! </h1>
            
</div>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h3 class="h3 mb-0 text-gray-800">No Posts were fetched from Server.</h3>
</div>
{% else %}

<!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Assign post for review</h1>
        <div class="row">
            <div class="col-12">
                <div class="card mb-4 py-3 border-bottom-success">
                <div class="card-body">
                    {{ news.title }}
                  <a href="/{{ news.slug.slug }}" target="_blank" class="float-right btn-success btn btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Preview post.</span>
                  </a> 
                </div>
              </div>
            </div>
        </div>
        
          <div class="card shadow mb-4">
            <div class="card-header py-3">
            
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <form class="util-form" action="" method="POST">
                  <div class="row">
                    <div class="col form-1">
                          {% csrf_token %}
                          <input type="hidden" name="status" value="{{ status }}" />
                          Select
                          {{ form }}
                          <br>
                          <input type="submit" name="submit" value="Assign"/>
                    </div>
                  </div>
                </form>
                <br>
                <br>
              </div>
            </div>
          </div>
{% endif %}
{% endblock dashboardcontent%}
{% block afterJSLoad %}
<script src="{% static 'dashboard/js/post-list.js' %}"></script>
{% endblock afterJSLoad%}