{% extends "dashboard/main.html" %}
{% load admin_utils %}
{% load news_utils %}
{% load static from staticfiles %}


{% block sitetitle %}
{% if action %}
         <title> {{ action }} News || NTM - Dashboard</title>
         {% else %}
         <title> NTM - Dashboard</title>
{% endif %}
{% endblock %}

{% block dashboardcontent %}


<!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Dashboard</h1>
          {% if role == 'Subscriber' %}
          <div class="row">
          <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Do you like to write articles?</div>
                      <div class="row no-gutters">
                        <div class="col align-items-right">
                            <a href="/{{ urls.apply_editor }}" class="btn btn-secondary ">
                                <span class="text">Apply as News Editor</span>
                            </a>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Are you an experienced writer?</div>
                      <div class="row no-gutters">
                        <div class="col align-items-right">
                            <a href="/{{ urls.apply_reviewer }}" class="btn btn-secondary ">
                                <span class="text">Apply as Reviewer</span>
                            </a>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Are you SEO Expert?</div>
                      <div class="row no-gutters">
                        <div class="col align-items-right">
                            <a href="/{{ urls.apply_seoexpert }}" class="btn btn-secondary ">
                                <span class="text">Apply as SEO expert</span>
                            </a>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
            
          {% endif %}

{% endblock dashboardcontent%}
{% block afterJSLoad %}
{% endblock afterJSLoad%}