{% extends "dashboard/main.html" %}
{% load admin_utils %}
{% load news_utils %}
{% load static from staticfiles %}


{% block sitetitle %}
{% if action %}
         <title> {{ action }} News || NTM - Dashboard</title>
         {% else %}
         <title> NTM - Dashboard</title>
{% endif %}
{% endblock %}

{% block dashboardcontent %}

{% if error == 'not_applicable' %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h1 mb-0 text-gray-800">Sorry! </h1>
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h3 class="h3 mb-0 text-gray-800">Arent you roaming in alien territory?</h3>
</div>

{% elif error == '404' %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h1 mb-0 text-gray-800">Sorry! </h1>
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h3 class="h3 mb-0 text-gray-800">The page you are looking for doesnt exists.</h3>
</div>


{% elif error == 'rejected' %}
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h1 mb-0 text-gray-800">Sorry {{ user }}! </h1>

            </div>
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h3 class="h3 mb-0 text-gray-800">Your application for role of {{ role }} is rejected. </h3>
            </div>
       <div class="row">
                <div class="col-lg-12">
                    <!-- Approach -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Rejection Reason</h6>
                </div>
                <div class="card-body">
                  <p>{{ message }}</p>

                </div>
              </div>

            </div>
          </div>

{% elif error == 'not_permitted' %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h1 mb-0 text-gray-800">Sorry {{ user }}! </h1>
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">

            <h3 class="h3 mb-0 text-gray-800">You are not permitted to {{ action }} News posts.</h3>
</div>


{% elif error == 'under_review' %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h1 mb-0 text-gray-800">Sorry  {{ user }}! </h1>

</div>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h3 class="h3 mb-0 text-gray-800">Your application for the role of "{{ role }}" is under review.</h3>
</div>


{% elif error == 'nothing_fetched' %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h1 mb-0 text-gray-800">Sorry  {{ user }}! </h1>

</div>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h3 class="h3 mb-0 text-gray-800">No Posts were fetched from Server.</h3>
</div>
{% else %}

<!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Posts</h1>
          <p class="mb-4">
              <a target="_blank" href="#">
              </a>
        </p>

    {% if action_error %}
        <div class="row">
            <div class="col-12">
                <div class="card mb-4 py-3 border-left-danger">
                <div class="card-body">
                        <div class="alert alert-danger">
                        <li>
                            <strong>Action aborted! You can't
                            {% if  action_string == "junk"%} delete {% endif %}
                            {% if  action_string == "publish" %} publish {% endif %}
                            {% if  action_string == "submit" %} submit for review {% endif %}
                            {% if  action_string == "reject" %} reject {% endif %}
                            following posts.</strong>
                            <ul class="errorlist">
                              {% for error in action_error_data %}
                                <li> {{ error.title }}</li>
                              {% endfor %}
                            </ul>
                        </li>
                        </div>
                </div>
              </div>
            </div>
        </div>
        {% endif %}

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">
              <ul class="nav nav-tabs nav-justified status-tab">
                <li class="active"><a href="?">All ({{ all_count }})</a></li>
                <li><a href="?status=draft">Draft ({{ draft_count }})</a></li>
                <li><a href="?status=review">Under Review ({{ review_count }})</a></li>
                <li><a href="?status=published">Published ({{ publish_count }})</a></li>
                <li><a href="?status=rejected">Rejected ({{ reject_count }})</a></li>
                <li><a href="?status=trash">Trash ({{ trash_count }})</a></li>
              </ul>
              </h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <form class="util-form" action="" method="POST">
                  <div class="row">
                    <div class="col form-1">

                      {% csrf_token %}
                      <input type="hidden" name="status" value="{{ status }}" />
                      Select action
                      <select name="action">
                         <option value="" selected >-</option>
                         <option value="publish">Publish Post</option>
                         <option value="submit">Submit for review</option>
                         <option value="reject">Reject post</option>
                         <option value="junk">Delete post</option>
                      </select>

                      Sort By:
                      <select name="sort">
                        {% if sort == 'publish'%}
                        <option value="publish" selected >Publish Date</option>
                        <option value="title" >Title</option>
                        <option value="update" >Last Update</option>
                        {% elif sort == 'title' %}
                        <option value="publish"  >Publish Date</option>
                        <option value="title" selected >Title</option>
                        <option value="update" >Last Update</option>
                        {% elif sort == 'update' %}
                        <option value="publish"  >Publish Date</option>
                        <option value="title"  >Title</option>
                        <option value="update" selected >Last Update</option>
                        {% endif %}
                      </select>

                      Order:
                      <select name="order">
                        {% if order == 'desc'%}
                        <option value="desc" selected >Decending</option>
                        <option value="asc" >Ascending</option>
                        {% else %}
                        <option value="desc"  >Decending</option>
                        <option value="asc" selected>Ascending</option>
                        {% endif %}
                      </select>
                      Records:
                      <select name="records">
                        {% for rec in record_list %}
                            {% if records == rec %}
                              <option value="{{ rec }}" selected >{{ rec }}</option>
                            {% else %}
                              <option value="{{ rec }}" >{{ rec }}</option>
                            {% endif %}
                        {% endfor %}
                      </select>
                      <input type="input" name="search" placeholder="Search title" value="{{ search }}" />

                      <input type="submit" name="submit" value="Apply"/>
                </div>
                  </div>



                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th><input type="checkbox" id="selectAll" name="selectall" data-checked="0" /></th>
                      <th>Title</th>
                      <th>Author</th>
                      <th>Categories</th>
                      <th>Site</th>
                      <th>Tags</th>
                      <th>Status</th>
                      <th>Last Updated</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for p in news %}
                    <tr>
                      <th><input type="checkbox" name="posts" value="{{ p.id }}" /></th>
                      <td><a href="/{{ p.slug.slug  }}" target="_blank">{{ p.title }}</a> <br/>
                      <div class="hover-visible">
                      {% if not p.locked and user_can.edit_post_self and  user.username == p.author.username and not p.status == "published" or not p.locked and  user_can.edit_post_other and not user.username == p.author.username and not p.status == "published"  %}  <a class="btn btn-sm btn-primary"  href="{{ edit_link }}{{ p.slug.slug }}" >Edit</a> {%  endif  %}
                      {% if not p.locked and user_can.edit_publish_self and  user.username == p.author.username and p.status == "published" or not p.locked and  user_can.edit_publish_other and not user.username == p.author.username and p.status == "published"  %}  <a class="btn btn-sm btn-primary"  href="{{ edit_link }}{{ p.slug.slug }}/?publish=1" >Edit</a> {%  endif  %}
                      {% if not p.locked and user_obj|isAssignedPostForReviewTo:p and not p.status == "published" %} <a class="btn btn-sm btn-light review-button"  href="{{ review_link }}{{ p.slug.slug }}" >Review</a> {%  endif  %}
                      {% if not p.locked and not p.status == "final" and not p.status == "published" and user_can.assign_review %} <a class="btn btn-sm btn-light review-button"  href="{{ assign_link }}{{ p.slug.slug }}" >Assign</a> {%  endif  %}
                      {% if p.status == "final" and user_can.publish_page_self and  user.username == p.author.username or p.status == "final" and user_can.publish_page_other and not user.username == p.author.username  %} <a class="btn btn-sm btn-success publish-button"  href="{{ edit_link }}{{ p.slug.slug }}/?publish=1" >Publish</a> {%  endif  %}
                      {% if  not p.status == "final" and not p.status == "published" %} <a class="btn btn-sm btn-danger"  href="{{ edit_link }}{{ p.slug.slug }}" >Trash</a> {%  endif  %}
                      </div>
                      </td>
                      <td>{{ p.author|getWriter  }}</td>
                      <td>{{ p.category|getCategories }}</td>
                      <td>{{ p|getNewsSite }}</td>
                      <td>{{ p.tag|getTags }}</td>
                      <td>{{ p.status|getStatusString }}</td>
                      <td>{{ p.updated }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <div class="row">
                  <div class="col form-2 float-left">
                  <nav aria-label="Page navigation">
                    <ul class="pagination">
                      {% if not page == 1 %}
                      <li class="page-item">
                        <input class="page-link"  data-page="1" type="submit" name="page_1" value="1"/>
                      </li>
                      {% endif %}
                      {% if not paginator.previous_page_number == 1 and paginator.has_previous %}
                      <li class="page-item ">
                        <input class="page-link"  data-page="{{ paginator.previous_page_number }}" type="submit" name="page_{{ paginator.previous_page_number }}" value="{{ paginator.previous_page_number }}"/>
                      </li>
                      {% endif %}
                      <li class="page-item active">
                        <input type="text" style="height:38px;width:35px;padding-left:10px;" id="page-count" size="1" name="page" value="{{ page }}" />
                      </li>
                      {% if paginator.has_next %}
                      <li class="page-item">
                        <input class="page-link"  data-page="{{ paginator.next_page_number }}" type="submit" name="page_{{ paginator.next_page_number }}" value="{{ paginator.next_page_number }}"/>
                      </li>
                      {% endif %}
                      {% if not paginator.next_page_number == last_page and paginator.has_next %}
                      <li class="page-item">
                        <input class="page-link"  data-page="{{ last_page }}" type="submit" name="page_{{ last_page }}" value="{{ last_page }}"/>

                      </li>
                      {% endif %}
                    </ul>

                  </nav>
                </div>
                  <div class="col">
                    <div class="float-right">
                      Page {{ page }} out of {{ last_page }}
                    </div>
                  </div>
                </div>

                </form>
              </div>
            </div>
          </div>
{% endif %}
{% endblock dashboardcontent%}
{% block afterJSLoad %}
<script src="{% static 'dashboard/js/post-list.js' %}"></script>
{% endblock afterJSLoad%}
