{% extends "main.html" %}
{% load static %}
{% load news_utils %}

{% block sitetitle %}
         <title>{{ news.title }} || {{ site.title|default:"Kathmandu Tribune" }}  </title>
{% endblock %}

{% block rating_css %}
<link href="{% static 'site/plugins/star-rating/css/star-rating.min.css' %}" media="all" rel="stylesheet" type="text/css" />
  <link href="{% static 'plugins/star-rating/themes/krajee-uni/theme.min.css' %}" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block rating_js %}
<script src="{% static 'site/plugins/star-rating/js/star-rating.min.js' %}" type="text/javascript"></script>
<script src="{% static 'site/plugins/star-rating/themes/krajee-uni/theme.min.js' %}"></script>
{% endblock %}


{% block content %}
<div class="main">
        <div class="bread-crumb container" >
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              {% autoescape off %}
                                {{ news|getBreadCrumbs }}
              {% endautoescape %}
              

            </ol>
      </nav>
        </div>

<div class="news-page">
            <div class="content container">
                <div class="row featured-posts">
                    <div class="news-post col-lg-8 col-md-12 col-sm-12 col-xs-12">
                      <h2 class="new-title">{{ review.title }}</h2>
                      <p class="details"><b>{{ news.author|getWriter }}</b> - {{ news|get_news_time_ago }} </p>
                            {% if news.image %}
                                <div class="featured-img">
                                    <img class="d-block w-100 thumbnail" src="{{ MEDIA_URL }}{{ news.image }}" />
                                    {% if  news.sourcedesc or news.imagesource  %}
                                    <span class="credit">credit: 
                                      {% if news.sourcedesc %}
                                         {{ news.sourcedesc }}
                                      {% endif %}
                                      {% if news.imagesource %}
                                        <a href="{{ news.imagesource }}" target="_blank" >source</a>
                                      {% endif %}
                                      </span>
                                    {% endif %}

                                </div>
                            {% endif %}
                        
                      <div class="post-content">
                        {% autoescape off %}
                                {{ review.content }}
                        {% endautoescape %}
                        
                      </div>
                      <hr>
                      <a href="{{ edit_link }}/{{ news.slug.slug }}/?history={{ review.id }}" class="btn btn-secondary float-right btn">
                        <span class="text">Incorporate changes.</span>
                      </a> 
                    </div>
                     <div class="posts col-lg-4 col-md-12">
                        <div class="smart-sidebar">
                            <div class="sidebar__inner  sticky-top">
                              {% autoescape off %}
                                  {{ site.site|get_sidebar_sections }}
                              {% endautoescape %}
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div> <!-- Featured section -->

      </div><!-- main -->


{% endblock %}