{% extends "dashboard/main.html" %}
{% load static from staticfiles %}
{% block sitetitle %}
{% if action %}
         <title> {{ action }} News || NTM - Dashboard</title>
         {% else %}
         <title> NTM - Dashboard</title>
{% endif %}
{% endblock %}

{% block dashboardcontent %}

{% if error == 'not_applicable' %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h1 mb-0 text-gray-800">Sorry! </h1>
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h3 class="h3 mb-0 text-gray-800">Arent you roaming alien terrain?</h3>
</div>

{% elif error == '404' %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h1 mb-0 text-gray-800">Sorry! </h1>
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h3 class="h3 mb-0 text-gray-800">The page you are looking for doesnt exists.</h3>
</div>


{% elif error == 'rejected' %}
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h1 mb-0 text-gray-800">Sorry {{ user }}! </h1>
                            
            </div>
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h3 class="h3 mb-0 text-gray-800">Your application for role of {{ role }} is rejected. </h3>
            </div>
       <div class="row">
                <div class="col-lg-12">
                    <!-- Approach -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Rejection Reason</h6>
                </div>
                <div class="card-body">
                  <p>{{ message }}</p>
                  
                </div>
              </div>

            </div>
          </div>

{% elif error == 'not_permitted' %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h1 mb-0 text-gray-800">Sorry {{ user }}! </h1>
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
            
            <h3 class="h3 mb-0 text-gray-800">You are not permitted to {{ action }} News posts.</h3>
</div>

           
{% elif error == 'under_review' %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h1 mb-0 text-gray-800">Sorry  {{ user }}! </h1>
            
</div>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h3 class="h3 mb-0 text-gray-800">Your application for the role of "{{ role }}" is under review.</h3>
</div>

           
{% elif error == 'not_permitted_other' %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h1 mb-0 text-gray-800">Sorry  {{ user }}! </h1>
            
</div>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h3 class="h3 mb-0 text-gray-800">You are not permitted to Edit other's posts.</h3>
</div>


{% elif error == 'not_permitted_other_lang' and action == 'Edit' %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h1 mb-0 text-gray-800">Sorry  {{ user }}! </h1>
            
</div>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h3 class="h3 mb-0 text-gray-800">You are not permitted to Edit other site's posts.</h3>
</div>

{% elif error == 'not_permitted_other_lang' and action == 'Add' %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h1 mb-0 text-gray-800">Sorry  {{ user }}! </h1>
            
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h3 class="h3 mb-0 text-gray-800">You are not permitted to Add posts to other sites.</h3>
</div>

            
{% else %}


          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h1 mb-0 text-gray-800">{{ action }} </h1>
             <a  href="/{{ news.slug.slug }}" target="_blank" class="float-right btn btn-sm btn-primary shadow-sm">Visit</a>
            <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
          </div>
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h4 class="h3 mb-0 text-gray-800"> {{ news.title }}</h4>
           
          </div>

          <!-- Content Row -->
        
        
        {% if form.errors %}
        <div class="row">
            <div class="col-12">
                <div class="card mb-4 py-3 border-left-danger">
                <div class="card-body">
                  {% for field in form %}
                        {% if field.errors %}
                        <div class="alert alert-danger">
                        <li>
                            <strong>{{ field.label }}:</strong>
                            <ul class="errorlist">
                              {% for error in field.errors %}
                                <li>{{ error }}</li>
                              {% endfor %}
                            </ul>
                          </li>
                          </div>
                        {% endif %}
                        
                    {% endfor %}
        
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <li>
                          <strong>{{ error|escape }}</strong>
                        </li>
                        </div>
                        
                    {% endfor %}
        {% endif %}
        
        {% if postform.errors %}
                    {% for field in postform %}
                        {% if field.errors %}
                        <div class="alert alert-danger">
                        <li>
                            <strong>{{ field.label }}:</strong>
                            <ul class="errorlist">
                              {% for error in field.errors %}
                                <li>{{ error }}</li>
                              {% endfor %}
                            </ul>
                          </li>
                          </div>
                        {% endif %}
                        
                    {% endfor %}
                    {% for error in postform.non_field_errors %}
                        <div class="alert alert-danger">
                            <li>
                          <strong>{{ error|escape }}</strong>
                        </li>
                        </div>
                        
                    {% endfor %}
                </div>
              </div>
                
                
            </div>
        </div>
        {% endif %}
         {% for rev in prev_reviews %}
         {% if  rev.finalise %}
         <div class="row">
            <div class="col-12">
                <div class="card  border-left-success mb-4 py-3">
                <div class="card-body">
                    {{ rev.comment }} 
                  <a href="/preview/{{ rev.item_type }}/{{ rev.history_id }}/" target="_blank" class="btn btn-secondary float-right btn">
                    <span class="text">Preview post revision.</span>
                  </a> 
                </div>
              </div>
            </div>
        </div>
         {% else  %}
         <div class="row">
            <div class="col-12">
                <div class="card mb-4 py-3">
                <div class="card-body">
                    {{ rev.comment }}
                  <a href="/preview/{{ rev.item_type }}/{{ rev.history_id }}/" target="_blank" class="btn btn-secondary float-right btn">
                    <span class="text">Preview post revision.</span>
                  </a> 
                </div>
              </div>
            </div>
        </div>
        {% endif %}
         {% endfor %}
         
          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-lg-12">
                
              <form class="addpost review-post" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="form-group">
                    <label class="h4 mb-0 text-gray-800">Your review:</label>
                    {{ form.comment }}
                </div>
                <div class="form-group">
                  <label class="h4 mb-0 text-gray-800">Marked As reviewed:</label>
                    {{ form.finalise }}
                </div>
                {{ form.ntuser }}
                {{ form.activity_type }}
                {{ form.item_type }}
                {{ form.item_id }}
                
                
                

                <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
            <h4 class="panel-title">Edit Post</h4>
            
            <i class="fas fa-arrow-right down-icon"></i>
            <hr>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="form-group">
                    <label class="h4 mb-0 text-gray-800">News Title:</label>
                    {{ postform.title }}
                </div>
                <div class="form-group">
                  <label class="h4 mb-0 text-gray-800">News Content:</label>
                    {{ postform.content }}
                    
                </div>
                
                <!--<div class="form-group">-->
                <!--  <label class="h4 mb-0 text-gray-800">Featured image:</label>-->
                <!--    {{ postform.image }}-->
                <!--</div>-->
                
                <!--<div class="form-group">-->
                <!--  <label class="h4 mb-0 text-gray-800">Featured image source:</label>-->
                <!--    {{ postform.imagesource }}-->
                <!--</div>-->
                
                <!--<div class="form-group">-->
                <!--  <label class="h4 mb-0 text-gray-800">Image source Descriptions:</label>-->
                <!--    {{ postform.sourcedesc }}-->
                <!--</div>-->
                {{ postform.author }}
                {{ postform.post }}
            </div>
          </div>
        </div>
        
      </div>
                
                <div class="row">
                <div class="col">
                  <input type="submit" name="status" value="Send review"  class="float-right btn btn-primary btn-user"/>
                </div>
                </div>
<br>
<br>

                

              </form>
            </div>

          </div>

{% endif %}

{% endblock dashboardcontent%}
{% block initSummernote %}
  <script src="{% static 'summernote/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'summernote/jquery.fileupload.js' %}"></script>
  <script src="{% static 'summernote/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'summernote/ResizeSensor.js' %}"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
<style>
                    .note-popover.popover{
                        display: none;
                    }
                    </style>
                    <script>
                    
                        initSummernote_id_content();
                    
                    </script>
{% endblock %}