<!DOCTYPE html>
<html>
    <head>
        <title>USER AUTHENTICATION</title>
    </head>
    <body>
        <h1>This is the index page</h1>
        {% if user.is_authenticated %}
        <h2>Your name is: {{ user.username }}</h2>
        {% else %}
        <h2>Your are not logged in.</h2>
        {% endif %}
    </body>
</html>