{% load static %}
<div class="comment-box">
                        <h2>Comments</h2>
                        {% if comment_more %}
                        <div class="previous comment text-center">
                        <form id="getCommentForm" action="" method="POST">
                          {% csrf_token %}
                          <a class="load_previous" data-page="1" href="#" class="comment-previous">View Previous Comments</a>
                          </form>
                      </div>
                      <div class="more-buffer">
                        
                      </div>
                      {% endif %}
                        {% for c in comments reversed %}
                          <div class="comment-single parent">
                              <div class="row">
                                <div class="col-2 profile">
                                    {% if c.comment_obj.image == "default" %}
                                    <img src="{% static 'site/img/user.png' %}" width="50px"/>
                                    {% else %}
                                    <img src="{{ c.comment_obj.image }}" width="50px"/>
                                    {% endif %}
                                  
                                  </div>
                                  <div class="col">
                                    <div class="row">
                                      {% if c.comment_obj.user == "" %}
                                       {{ c.comment_obj.username }}
                                      {% else %}
                                      {{ c.comment_obj.user }}
                                      {% endif %}
                                    </div>
                                    <div class="row comment">
                                      <div class="col">
                                        {% autoescape on %}
                                            {{ c.comment_obj.comments_text }}
                                        {% endautoescape %}
                                      </div>
                                    </div>
                                    <div class="row reply">
                                    <a href="#" data-id="{{ c.comment_obj.id }}" id="comment_reply_{{ c.comment_obj.id }}" class="comment-reply">Reply</a>
                                  </div>
                                    </div>
                                  </div>
    
                              </div>
                              {% if c.counts %}
                              <div class="reply-buffer_{{ c.comment_obj.id }}">
                                </div>
                                <div class="load-reply comment text-center">
                                  <form id="getReplyForm_{{ c.comment_obj.id }}" action="" method="POST">
                                    {% csrf_token %}
                                    <a class="load_replies" data-page="1" data-id="{{ c.comment_obj.id }}" href="#" class="comment-previous">View Replies</a>
                                    </form>
                                </div>
                                
                              {% endif %}
                      {% endfor %}
                      
                        <!--<div class="comment-single parent">-->
                        <!--  <div class="row">-->
                        <!--    <div class="col-2 profile">-->
                        <!--      <img src="img/user.png" width="50px"/>-->
                        <!--      </div>-->
                        <!--      <div class="col">-->
                        <!--        <div class="row">-->
                        <!--          anonymous-->
                        <!--        </div>-->
                        <!--        <div class="row comment">-->
                        <!--          this is a comment-->
                        <!--        </div>-->
                        <!--        <div class="row reply">-->
                        <!--        <a href="#" class="comment-reply">Reply</a>-->
                        <!--      </div>-->
                        <!--        </div>-->
                        <!--      </div>-->

                        <!--  </div>-->
                        <!--  <div class="comment-single child">-->
                        <!--    <div class="row">-->
                        <!--      <div class="col-2 profile">-->
                        <!--        <img src="img/user.png" width="50px"/>-->
                        <!--        </div>-->
                        <!--        <div class="col">-->
                        <!--          <div class="row">-->
                        <!--            anonymous-->
                        <!--          </div>-->
                        <!--          <div class="row comment">-->
                        <!--            this is a reply to comment-->

                        <!--          </div>-->
                        <!--          <div class="row reply">-->
                        <!--          <a href="#" class="comment-reply">Reply</a>-->
                        <!--        </div>-->
                        <!--          </div>-->
                        <!--        </div>-->
                        <!--  </div>-->
                        <!--  <div class="comment-single child">-->
                        <!--    <div class="row">-->
                        <!--      <div class="col-2 profile">-->
                        <!--        <img src="img/user.png" width="50px"/>-->
                        <!--        </div>-->
                        <!--        <div class="col">-->
                        <!--          <div class="row">-->
                        <!--            anonymous-->
                        <!--          </div>-->
                        <!--          <div class="row comment">-->
                        <!--            this is a reply to comment-->

                        <!--          </div>-->
                        <!--          <div class="row reply">-->
                        <!--          <a href="#" class="comment-reply">Reply</a>-->
                        <!--        </div>-->
                        <!--          </div>-->
                        <!--        </div>-->
                        <!--  </div>-->


                        <!--<div class="comment-single parent">-->
                        <!--  <div class="row">-->
                        <!--    <div class="col-2 profile">-->
                        <!--      <img src="img/user.png" width="50px"/>-->
                        <!--      </div>-->
                        <!--      <div class="col">-->
                        <!--        <div class="row">-->
                        <!--          anonymous-->
                        <!--        </div>-->
                        <!--        <div class="row comment">-->
                        <!--          this is a comment-->
                        <!--        </div>-->
                        <!--        <div class="row reply">-->
                        <!--        <a href="#" class="comment-reply">Reply</a>-->
                        <!--      </div>-->
                        <!--        </div>-->
                        <!--      </div>-->

                        <!--  </div>-->
                        <!--  <div class="comment-single child">-->
                        <!--    <div class="row">-->
                        <!--      <div class="col-2 profile">-->
                        <!--        <img src="img/user.png" width="50px"/>-->
                        <!--        </div>-->
                        <!--        <div class="col">-->
                        <!--          <div class="row">-->
                        <!--            anonymous-->
                        <!--          </div>-->
                        <!--          <div class="row comment">-->
                        <!--            this is a reply to comment-->

                        <!--          </div>-->
                        <!--          <div class="row reply">-->
                        <!--          <a href="#" class="comment-reply">Reply</a>-->
                        <!--        </div>-->
                        <!--          </div>-->
                        <!--        </div>-->
                        <!--  </div>-->
                        <!--  <div class="comment-single child">-->
                        <!--    <div class="row">-->
                        <!--      <div class="col-2 profile">-->
                        <!--        <img src="img/user.png" width="50px"/>-->
                        <!--        </div>-->
                        <!--        <div class="col">-->
                        <!--          <div class="row">-->
                        <!--            anonymous-->
                        <!--          </div>-->
                        <!--          <div class="row comment">-->
                        <!--            this is a reply to comment-->

                        <!--          </div>-->
                        <!--          <div class="row reply">-->
                        <!--          <a href="#" class="comment-reply">Reply</a>-->
                        <!--        </div>-->
                        <!--          </div>-->
                        <!--        </div>-->
                        <!--  </div>-->
</div>