<!DOCTYPE html>
<html>
<head>
	<title>POLLS ANSWER</title>
</head>
<body>

    <form action='.' method='POST'> {% csrf_token %}
       <p>This is question???</p><br>
	   <!--{{ form.as_p }}-->
	    Choose your answer:<br> 
		<input type="checkbox" name="answer" value="1">This is answer 1<br>
		<input type="checkbox" name="answer" value="2">This is answer 2<br>
		<input type="checkbox" name="answer" value="3">This is answer 3<br>
		<input type="checkbox" name="answer" value="4">This is answer 4<br>
        <br>
    	Email:
    	<input placeholder="Email" type="email" name="email"><br>
	    <input type='submit' value='Save' /> 
	 </form>
</body>
</html>