<!DOCTYPE html>
<html>
<head>
	<title>POLLS</title>
</head>
<body>

    <form action='.' method='POST'> {% csrf_token %}
  <!--     <p>{{ obj.question }}</p><br>-->
	   <!--{{ form.as_p }}-->
	 <!--   Choose your answer:<br> -->
		<!--<input type="checkbox" name="answer" value="1">{{obj.answer }}<br>-->
		<!--<input type="checkbox" name="answer" value="2">This is answer 2<br>-->
		<!--<input type="checkbox" name="answer" value="3">This is answer 3<br>-->
		<!--<input type="checkbox" name="answer" value="4">This is answer 4<br>-->
  <!--      <br>-->
  <!--  	Email:-->
  <!--  	<input placeholder="Email" type="email" name="email"><br>-->
	 <!--   <input type='submit' value='Save' /> -->
	 {{ form.as_p }}
	 
	 <p>
	 QUESTION: {{ object.question }}<br>
	 Choose your answer:<br> 
	 <input type="checkbox" name="answer" value="1">{{ object.answer1 }}<br>
	 <input type="checkbox" name="answer" value="2">{{ object.answer2 }}<br>
	 <input type="checkbox" name="answer" value="3">{{ object.answer3 }}<br>
	 <input type="checkbox" name="answer" value="4">{{ object.answer4 }}<br>
	 Email:
     <input placeholder="Email" type="email" name="email"><br>
	 <input type='submit' value='Save' />
     </p>

	 </form>
</body>
</html>