<!DOCTYPE html>
<html>
<head>
	<title>COMMENTS</title>
</head>
<body>
    <form action="" method="POST"  >
        {% csrf_token %}<br>

     Advertisement:
     <input placeholder="Post your ad" type="text" name="advertisement"><br>
     URL:
     <input placeholder="Enter URL" type="url" name="url"><br>
	   <input type='submit' value='Post Ad'/> 

    </form>
</body>
</html>