<!DOCTYPE html>
<html>
<head>
	<title>SHARING</title>
</head>
<body>
	<form action='.' method='POST'> {% csrf_token %}
	<p>Hello</p><br>
	{{ s.advertisement_id }}<br>
	{{ s.user_agent }}
	</form>
</body>
</html>