{% load staticfiles %}

{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      
        <h1>Login Here</h1>
        <h3>Just fill out the form.</h3>
<form method="POST">

    <div class="field">
        {{ form.username.errors }}
        <label for="id_first_name">Username: </label>
        {{ form.username }}
    </div>
    <div class="field">
        {{ form.password.errors }}
        <label for="id_last_name">Password: </label>
        {{ form.password }}
    </div>
    
    {% csrf_token %}
  <input type="submit" class="logBut" value="Log in"/>
</form>
    </div>
  </div>
{% endblock %}