{% load staticfiles %}

{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      {% if submitted %}
        <h1>Thank you for Editing!</h1>
      {% else %}
        <h1>Edit post</h1>
        
        
<form method="POST" enctype="multipart/form-data">
    {{ postform.media }}
    {{ postform.as_p }}
    {% csrf_token %}
    
     <!--
    {% if postform.tag %}
    <div class="field">
        {{ postform.tag.errors }}
      <label for="id_post_tag">News Tags: </label>
      {% for radio in postform.tag %}
          <label for="{{ radio.id_for_label }}">
              {{ radio.choice_label }}
              <span class="radio">{{ radio.tag }}</span>
          </label>
      {% endfor %}
    </div>
      {% endif %}
    
     {% if postform.category %}
     <label for="id_profile_pic">News category: </label>
    {% for radio in postform.category %}
    
    
      <label for="{{ radio.id_for_label }}">
          {{ radio.choice_label }}
          <span class="radio">{{ radio.tag }}</span>
      </label>
    {% endfor %}
      {% endif %}
    -->
    
    <input type="submit" value="Save Draft"/>
</form>

  {% endif %}
    </div>
  </div>
{% endblock %}