{% load staticfiles %}

{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      {% if registered %}
        <h1>Thank you for registering!</h1>
      {% else %}
        <h1>Register Here</h1>
        <h3>Just fill out the form.</h3>
<form method="POST">
    
    <div class="field">
        {{ userform.first_name.errors }}
        <label for="id_first_name">First name: </label>
        {{ userform.first_name }}
    </div>
    <div class="field">
        {{ userform.last_name.errors }}
        <label for="id_last_name">Last name: </label>
        {{ userform.last_name }}
    </div>
    <div class="field">
        {{ userform.email.errors }}
        <label for="id_email">Email: </label>
        {{ userform.email }}
    </div>
    <div class="field">
        {{ userform.username.errors }}
        <label for="id_username">Username: </label>
        {{ userform.username }}
    </div>
    <div class="field">
        {{ userform.password.errors }}
        <label for="id_password1">Password: </label>
        {{ userform.password }}
    </div>
    {% csrf_token %}
  <input type="submit" name="" value="Register">
</form>
        
      {% endif %}
    </div>
  </div>
{% endblock %}