{% load staticfiles %}

{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      {% if applied %}
        <h1>Thank you for Applying!</h1>
      {% else %}
        <h1>Apply as {{ role }}</h1>
        <h3>Just fill out the form.</h3>
<form method="POST" enctype="multipart/form-data" >
    
    <div class="field">
        {{ userform.country_code.errors }}
        <label for="id_first_name">Country Code: </label>
        {{ userform.country_code }}
    </div>
    <div class="field">
        {{ userform.proof1.errors }}
        <label for="id_citizenship">Citizenship: </label>
        {{ userform.proof1 }}
    </div>
    <div class="field">
        {{ userform.proof2.errors }}
        <label for="id_proof2">Other Proof: </label>
        {{ userform.proof2 }}
    </div>
    <div class="field">
        {{ userform.blog.errors }}
        <label for="id_username">Blog link: </label>
        {{ userform.blog }}
    </div>
    <div class="field">
        {{ userform.twitter.errors }}
        <label for="id_twitter">Twitter Handle: </label>
        {{ userform.twitter }}
    </div>
    <div class="field">
        {{ userform.profile_pic.errors }}
        <label for="id_profile_pic">Profile pic: </label>
        {{ userform.profile_pic }}
    </div>
    
    <div class="field">
        {{ userform.bio.errors }}
        <label for="id_bio">User bio: </label>
        {{ userform.bio }}
    </div>
    
    
    {{ userform.user_type }}
    
    {% csrf_token %}

  <input type="submit" name="" value="Apply">

</form>
        
      {% endif %}
    </div>
  </div>
{% endblock %}