{% extends "main.html" %}
{% load static %}
{% load news_utils %}

{% block sitetitle %}
         <title>{{ category.title }} || {{ site.title|default:"Kathmandu Tribune" }}  </title>
{% endblock %}


{% block meta %}
{% autoescape off %}
            {{ meta }}
{% endautoescape %}
{% endblock %}

{% block content %}

 
        <div class="bread-crumb container" >
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              {% autoescape off %}
              {{ breadcrumb }}
              {% endautoescape %}
            </ol>
          </nav>
        

        <div  class="row category-name">
            <div class="col col-sm-6" data-ride="carousel">
              <h2>{{ category.title }}<h2>
            </div>
              <div class="col col-sm-6" data-ride="carousel">
                <div class="float-right dropdown">
                <button class="btn category-view btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort By
                </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  {% if sort == '' %}
                  <a class="dropdown-item active" href="?">Latest</a>
                  {% else %}
                  <a class="dropdown-item " href="?">Latest</a>
                  {% endif %}
                  {% if sort == 'most_viewed' %}
                  <a class="dropdown-item active" href="?sort=most_viewed">Most Viewed</a>
                  {% else %}
                  <a class="dropdown-item" href="?sort=most_viewed">Most Viewed</a>
                  {% endif %}
                  
                  {% if sort == 'most_viewed_week' %}
                  <a class="dropdown-item active" href="?sort=most_viewed_week">Most Viewed This week</a>
                  {% else %}
                  <a class="dropdown-item" href="?sort=most_viewed_week">Most Viewed This week</a>
                  {% endif %}
                  
                  {% if sort == 'most_shared' %}
                  <a class="dropdown-item active" href="?sort=most_shared">Most Shared</a>
                  {% else %}
                  <a class="dropdown-item" href="?sort=most_shared">Most Shared</a>
                  {% endif %}
                  
                  {% if sort == 'most_shared_week' %}
                  <a class="dropdown-item active" href="?sort=most_shared_week">Most Shared This week</a>
                  {% else %}
                  <a class="dropdown-item" href="?sort=most_shared_week">Most Shared This week</a>
                  {% endif %}
                  
                  
                  
                  
                  </div>
                </div>
            </div>
        </div>
        
        </div>
        <div class="bread-crumb container" >
          
              {% autoescape off %}
              {{ child_links }}
              {% endautoescape %}
          </div>
        {% if category.description %}
        <div class="category-name container">
          
          <div  class="row category-name">
            <div class="col" data-ride="carousel">
              {% autoescape off %}
              {{ category.description }}
              {% endautoescape %}
            </div>
        </div>
        </div>
        {% endif %}

        
        <div class="main-section container" id="main-section">
          
          <div class="row">
            {% for f in first %}
            
              <div id="main" class="carousel slide col col-lg-6 col-12" data-ride="carousel">
                <a class="featured-slide-link" href="/{{ f.slug }}">
                  <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="carousel-caption d-md-block">
                      <h1 class="category">{{ f.category }}</h1>
                      <h5 class="title">{{ f.title}}</h5>
                      <p class="details"><b>{{ f.author }}</b><br>{{ f.published }}
                      </p>
                    </div>
                    <img class="d-block w-100 thumbnail" src="{{ f.thumbnail.featured }}" alt="{{ f.sourcedesc }}">
                  </div>
                  </div>
                  </a>
              </div>
        {% endfor %}
</div>
</div>

        
        <div class="category-page">
          
            <div class="content container">
                <div class="row featured-posts">

                    <div class="cat-posts col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        {% for c in news %}
                        <a class="row" href="/{{ c.slug }}">
                          <div class="img col col-5">
                            <img class="img-fluid" src="{{ c.thumbnail.medium }}">
                            <span class="comments">{{ c.comment_counts }}</span>
                            <span class="category" >{{ c.category }}</span>

                          </div>
                          <div class="col col-7">
                              <h2>{{ c.title }}</h2>
                              <writer>{{ c.author }}   <span><i class="fa fa-clock-o" aria-hidden="true"></i>{{ c.published }}</span></writer>
                              <p>{{ c.content|striptags|truncatewords:20 }}...</p>
                          </div>
                        </a>
                        {% endfor %}
                        
                    
                    {% if page.has_other_pages and sort %}
                    <nav class="cat-pagination" aria-label="Category pagination">
                      
                                      <ul class="pagination justify-content-center">
                                        {% if  not current_page == 1 %}
                                           <li class="page-item"><a class="page-link" href="?sort={{ sort }}&page=1">First</a></li>
                                        {% endif %}
                                        {% if page.has_previous and not page.previous_page_number == 1  %}
                                        <li class="page-item">
                                          <a class="page-link" href="?sort={{ sort }}&page={{ page.previous_page_number }}" tabindex="-1">Previous</a>
                                        </li>
                                        {% endif %}
                                        <li class="page-item">
                                          <span class="page-link">
                                            {{ current_page }}
                                            <span class="sr-only">(current)</span>
                                          </span>
                                        </li>
                                        {% if page.has_next and not paginator.next_page_number == last_page %}
                                        <li class="page-item">
                                          <a class="page-link" href="?sort={{ sort }}&page={{ page.next_page_number }}">Next</a>
                                        </li>
                                        {% endif %}
                                        {% if not paginator.next_page_number == last_page and paginator.has_next %}
                                           <li class="page-item"><a class="page-link" href="?sort={{ sort }}&page={{ last_page }}">Last</a></li>
                                        {% endif %}
                                      </ul>
                                    </nav>
                    
                    <div style="text-align: center;" >Page {{ current_page }} out of {{ last_page }}</div>
                    
                    
                    {% endif %}
                    
                    {% if page.has_other_pages and not sort %}
                    <nav class="cat-pagination" aria-label="Category pagination">
                      
                                      <ul class="pagination justify-content-center">
                                        {% if  not current_page == 1 %}
                                           <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                                        {% endif %}
                                        {% if page.has_previous and not page.previous_page_number == 1  %}
                                        <li class="page-item">
                                          <a class="page-link" href="?page={{ page.previous_page_number }}" tabindex="-1">Previous</a>
                                        </li>
                                        {% endif %}
                                        <li class="page-item">
                                          <span class="page-link">
                                            {{ current_page }}
                                            <span class="sr-only">(current)</span>
                                          </span>
                                        </li>
                                        {% if page.has_next and not paginator.next_page_number == last_page %}
                                        <li class="page-item">
                                          <a class="page-link" href="?page={{ page.next_page_number }}">Next</a>
                                        </li>
                                        {% endif %}
                                        {% if not paginator.next_page_number == last_page and paginator.has_next %}
                                           <li class="page-item"><a class="page-link" href="?page={{ last_page }}">Last</a></li>
                                        {% endif %}
                                      </ul>
                                    </nav>
                    
                    <div style="text-align: center;" >Page {{ current_page }} out of {{ last_page }}</div>
                    
                    
                    {% endif %}
                    </div>
                    
                  <div class="posts col-lg-4 col-md-12 col-xs-12">
                    <div class="smart-sidebar">
                      <div class="sidebar__inner  sticky-top">
                        {% for s in sidebar %}
                         <div class="">
                           <h4 class="block-title"><span>{{ s.title }}</span></h4>
                           
                            {% autoescape off %}
                            {{ s.content }}
                            {% endautoescape %}
                            </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>

              </div>
            </div>
            
        </div>
        
        
{% endblock %}  


                          