{% extends "main.html" %}
{% load static %}
{% load news_utils %}

{% block sitetitle %}
         <title> {{ site.title|default:"Kathmandu Tribune" }}  </title>
{% endblock %}

{% block meta %}
{% autoescape off %}
            {{ meta }}
{% endautoescape %}
{% endblock %}

{% block content %}

 <div class="main-section container owl-slide" id="main-section">
          <div  class="row">
             {% for n in showcase_news %}
              		{% if forloop.first %}
                        <div id="main" class="carousel slide col col-lg-6 col-12" data-ride="carousel">
                          <a class="featured-slide-link" href="/{{ n.slug }}"><div class="carousel-inner">
                            <div class="carousel-item active">
                              <div class="carousel-caption d-md-block">
                                <h1 class="category">{{ n.category }}</h1>
                                <h5 class="title">{{ n.title }} </h5>
                                <p class="details"><b> {{ n.author }} -</b> {{ n.published }} </p>
                              </div>
                              <img class="d-block w-100 thumbnail" src="{{ n.thumbnail.featured }}" alt="{{ f.sourcedesc }}">
                            </div>
                          </div>
                        </a>
                        </div>
                  {% endif %}
              {% endfor %}
          <div class="owl-container col row owl-carousel featured-carousel">
            {% for n in showcase_news %}
            		{% if not forloop.first %}
            		<div id="secondary" class="carousel slide col-lg-6" data-ride="carousel">
                      <a class="featured-slide-link" href="/{{ n.slug }}">	
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <div class="carousel-caption d-md-block">
                                <h1 class="category">{{ n.category }}</h1>
                                <h5 class="title">{{ n.title }} </h5>
                                <p class="details"><b>{{ n.author }} - </b> {{ n.published }}
                                </p>
                              </div>
                              <img class="d-block w-100 thumbnail" src="{{ n.thumbnail.featured_small }}" alt="{{ n.title }}">
                            </div>
                          </div>
                      </a>
                </div>
                    {% endif %}
              {% endfor %}
           </div>
          </div>

        </div>
<!-- main -->

{% for section in sections %}
    {% if section.placeholder == 'cat_news_normal' and  section.news %}
      <div class="page" id="featured-post">
            <div class="content container">
                <h2 class="title">{{ section.category }}</h2>
                <div class="row featured-posts">
                      
                	{% for n in section.news %}
                	<div class="post col-md-4 col-sm-6 col-xs-12">
                  
                      <a href="/{{ n.slug }}">
                        <img src="{{ n.thumbnail.medium }}"/>
                            <h2>{{ n.title }}</h2>
                            <writer>{{ n.author }} <span ><i class="fa fa-clock-o" aria-hidden="true"></i>{{ n.published }}</span></writer>
                            <p>{{ n.content|striptags|truncatewords:20 }}...</p>

                      </a>
                        <span ><a class="category" href="/{{ n.category_slug }}" >{{ n.category }}</a> </span>
                        <span ><a class="comments" href="" >{{ n.comment_counts }}</a> </span>

                   </div>
                    {% endfor %}
                   
                </div>

            </div>
        </div> <!-- Normal News section -->
        
    {% elif section.placeholder == 'cat_news_slide' and section.news %}
            <div class="page" id="featured-post">
            <div class="content container">
                <h2 class="title">{{ section.category }}</h2>
                <div class="row featured-posts">
                      
                	{% for n in section.news %}
                	<div class="post col-md-4 col-sm-6 col-xs-12">
                  
                      <a href="/{{ n.slug }}">
                        <img src="{{  n.thumbnail.medium }}"/>
                            <h2>{{ n.title }}</h2>
                            <writer>{{ n.author }} <span ><i class="fa fa-clock-o" aria-hidden="true"></i>{{ n.published }}</span></writer>
                            <p>{{ n.content|striptags|truncatewords:20 }}...</p>

                      </a>
                        <span ><a class="category" href="/{{ n.category_slug }}" >{{ n.category }}</a> </span>
                        <span ><a class="comments" href="" >{{ n.comment_counts }}</a> </span>

                   </div>
                    {% endfor %}
                   
                </div>

            </div>
        </div> <!-- Slide News section -->
    {% elif section.placeholder == 'cat_news_special' and section.news %}
        <div class="page" id="featured-post">
            <div class="content container">
                <h2 class="title">{{ section.category }}</h2>
                <div class="row featured-posts">

                    <div class="post col-md-4 col-sm-6 col-xs-12">
                        <a href="/{{ section.first_news.slug }}">
                            <img src="{{ section.first_news.thumbnail.medium }}">
                            <h2>{{ section.first_news.title }}</h2>
                            <writer>{{ section.first_news.author }} -    <span ><i class="fa fa-clock-o" aria-hidden="true"></i> {{ section.first_news.published }}</span></writer>
                            <p>{{ section.first_news.content|striptags|truncatewords:20 }}...</p>

                        </a>
                        <span ><a class="category" href="/{{ section.first_news.category_slug }}" >{{ section.first_news.category }}</a> </span>
                        <span ><a class="comments" href="" >{{ section.first_news.comment_counts }}</a> </span>

                    </div>
                    
                     <div class="posts col-md-4 col-sm-6 col-xs-12">
                        	{% for n in section.second_col %}
                          <a class="row" href="/{{ n.slug }}">
                            <div class="img col col-5">
                              <img class="img-fluid" src="{{ n.thumbnail.small }}">
                            </div>
                              <div class="col col-7">
                                <h2>{{ n.title }}</h2>
                                <time><span ><i class="fa fa-clock-o" aria-hidden="true"></i> {{ n.published }}</span></time>
                              </div>
                            </a>
                            {% endfor %}
                    </div>
                    <div class="posts col-md-4 col-sm-6 col-xs-12">
                        	{% for n in section.third_col %}
                          <a class="row" href="/{{ n.slug }}">
                            <div class="img col col-5">
                              <img class="img-fluid" src="{{ n.thumbnail.small }}">
                            </div>
                              <div class="col col-7">
                                <h2>{{ n.title }}</h2>
                                <time><span ><i class="fa fa-clock-o" aria-hidden="true"></i> {{ n.published }}</span></time>
                              </div>
                            </a>
                            {% endfor %}
                    </div>


                </div>

            </div>
        </div> <!-- Featured section -->
    {% endif %}
{% endfor %}

	   
{% for section in half_sections %}
        <div class="page two-sections" id="featured-post">
            <div class="content container">
              <div class="row">
                {% for half_section in section %}
                <div class="col col-md-6 col-12">
                  <h2 class="title">half_section.category</h2>
                  {% for news in half_section.news %}
                      	{% if forloop.first %}
                          <div class="post">
                              <a class=""  href="/{{ news.slug }}">
                                  <img src="{{ news.thumbnail.medium }}">
                                  <h2>{{ news.title }}</h2>
                                  <writer>{{ news.author }}     <span ><i class="fa fa-clock-o" aria-hidden="true"></i> {{ news.published }}</span></writer>
                                  <p>{{ news.content|striptags|truncatewords:20 }}...</p>
        
                              </a>
                              <span ><a class="category" href="" >{{ news.category }}</a> </span>
                              <span ><a class="comments" href="" >{{ news.comment_counts }}</a> </span>
        
                          </div>
                      	{% endif %}
                      	{% if not forloop.first %}
                          <a class="row" href="/{{ news.slug }}">
                            <div class="img col col-3">
                              <img class="img-fluid" src="{{ news.thumbnail.small }}">
                            </div>
                              <div class="col col-9">
                                <h2>{{ news.title }}</h2>
                                <time><span ><i class="fa fa-clock-o" aria-hidden="true"></i> {{ news.published }}</span></time>
                              </div>
                            </a>
                          {% endif %}
                  {% endfor %} 
                            <div class="col-md-12 more-button text-center">
                              <button type="button" class="btn btn-light">Load more..</button>
                            </div>
                </div>
                {% endfor %}
              </div>


            </div>
        </div> <!-- Featured section -->
{% endfor %}

{% endblock %}