{% extends "main.html" %}
{% load static %}
{% load news_utils %}

{% block sitetitle %}
         <title>{{ news.title }} || {{ site.title|default:"Kathmandu Tribune" }}  </title>
{% endblock %}

{% block meta %}
{% autoescape off %}
            {{ meta }}
{% endautoescape %}
{% endblock %}

{% block rating_css %}
<link href="{% static 'site/plugins/star-rating/css/star-rating.min.css' %}" media="all" rel="stylesheet" type="text/css" />
  <link href="{% static 'site/plugins/star-rating/themes/krajee-uni/theme.min.css' %}" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block rating_js %}
<script src="{% static 'site/plugins/star-rating/js/star-rating.min.js' %}" type="text/javascript"></script>
<script src="{% static 'site/plugins/star-rating/themes/krajee-uni/theme.min.js' %}"></script>
{% endblock %}


{% block content %}
<div class="main">
        <div class="bread-crumb container" >
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              {% autoescape off %}
                                {{ breadcrumb }}
              {% endautoescape %}


            </ol>
      </nav>
        </div>

<div class="news-page">
            <div class="content container">
                <div class="row featured-posts">
                    <div class="news-post col-lg-8 col-md-12 col-sm-12 col-xs-12">
                      <h2 class="new-title">{{ news.title }}</h2>
                      <p class="details"><b>{{ news.author }}</b> - {{ news.published }} </p>
                      <p class="details float-right"><i class="fa fa-star"></i>  {{ news.avg_rating }}  <i class="fa fa-share"></i> {{ news.shares }} <i class="fa fa-eye"></i> {{ news.views }} <i class="fa fa-comment"></i>  {{ news.comment_counts }} </p>

                            {% if news.has_image %}
                                <div class="featured-img">
                                    <img class="d-block w-100 thumbnail" src="{{ news.thumbnail.featured }}" />
                                    {% if  news.sourcedesc or news.imagesource  %}
                                    <span class="credit">credit:
                                      {% if news.sourcedesc %}
                                         {{ news.sourcedesc }}
                                      {% endif %}
                                      {% if news.imagesource %}
                                        <a href="{{ news.imagesource }}" target="_blank" >source</a>
                                      {% endif %}
                                      </span>
                                    {% endif %}

                                </div>
                            {% endif %}

                      <div class="post-content">
                        {% autoescape off %}
                                {{ news.content }}
                        {% endautoescape %}

                      </div>
                    <hr>
                      <div class="social-actions">
                        <div class="row">
                          <div class="col">
                            <form id="sharebuttonForm" action="" method="POST">
                                {% csrf_token %}
                                  <input id="shareid" name="shareid" value="" type="hidden" />
                                  <input id="share_newsid" name="newsid" value="{{ news.id }}" type="hidden" />
                            </form>
                            <div class="float-left dropdown">
                                <button class="btn share-view btn-secondary dropdown-toggle" type="button" id="dropdownShareButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Share it
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownShareButton">
                                <a class="dropdown-item share-dropdown" data-site="twitter" href="#"><i class="fa fa-twitter"></i> Twitter</a>
                                <a class="dropdown-item share-dropdown" data-site="facebook"  href="#"><i class="fa fa-facebook"></i> Facebook</a>
                                <a class="dropdown-item share-dropdown" data-site="tumbler" href="#"><i class="fa fa-tumblr"></i> Tumbler</a>
                                <a class="dropdown-item share-dropdown" data-site="reddit" href="#"><i class="fa fa-reddit"></i> Reddit</a>
                                <a class="dropdown-item share-dropdown"  data-site="pintrest" href="#"><i class="fa fa-pinterest"></i> Pinterest</a>
                                </div>
                            </div>
                            </div>
                            <div class="col">
                              <button class='btn btn-lg float-right btn-light' >
                                 <i class="fa fa-bookmark"></i> Bookmark
                              </button>
                            </div>
                          </div>
                      </div>
                      <hr>
                      <div class="rating row" >
                        <div class="col">
                          Do you like what you see?
                          </div>
<!--                           {% autoescape off %}
                            {% include 'ratings/rating-section.html' %}
                          {% endautoescape %} -->
                          <div class="col">
                            {% include 'ratings/rating-section.html' %}

                          </div>

                      </div>
                      <hr>
                      {% autoescape off %}
                            {% include 'comments/comment-section.html' %}
                      {% endautoescape %}
                      <div class="comment-box">
                        {% if logedin %}
                            <form id="addCommentForm" action="" method="POST">
                                {% csrf_token %}
                                {{ comment_form.comments_text }}
                                {{ comment_form.parent }}
                                {{ comment_form.user }}
                                {{ comment_form.news }}
                                <input id="addcommentButton"  class="btn btn-lg float-right btn-light" type="submit" value="Submit">

                            </form>
                          {% else %}
                              <div class="row">
                                <div class="col text-center">
                                  <a href="/account/login" class="btn btn-lg btn-light">Login to post comment</a>
                                </div>
                              </div>
                          {% endif %}
                      </div>
                      {% if related_news %}
                          <div class="related-box">
                            <h2>Related Posts</h2>
                            <div class="cat-posts col-md-12 col-sm-12 col-xs-12">
                              {% for n in related_news %}
                                <a class="row" href="{{ n.slug }}">
                                  <div class="img col col-5">
                                    <img class="img-fluid" src="{{ n.thumbnail.medium }}">
                                    <span class="comments">{{ n.comment_counts }}</span>
                                    <span class="category" >{{ n.category }} </span>
                                  </div>
                                    <div class="col col-7">
                                      <h2>{{ n.title }}</h2>
                                      <writer>{{ n.author }}  <span ><i class="fa fa-clock-o" aria-hidden="true"></i>{{ n.published }}</span></writer>
                                      <p>{{ n.content|striptags|truncatewords:15 }}...</p>

                                    </div>
                                  </a>
                              {% endfor %}

                            </div>
                          </div>
                      {% endif %}

                    </div>
                     <div class="posts col-lg-4 col-md-12">
                        <div class="smart-sidebar">
                            <div class="sidebar__inner  sticky-top">
                              {% for s in sidebar %}
                                     <div class="">
                                       <h4 class="block-title"><span>{{ s.title }}</span></h4>

                                        {% autoescape off %}
                                        {{ s.content }}
                                        {% endautoescape %}
                                        </div>
                              {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div> <!-- Featured section -->

      </div><!-- main -->


{% endblock %}

{% block comment_js %}
<script src="{% static 'comments/addcomment.js' %}"></script>
<script src="{% static 'sharing/addshare.js' %}"></script>
{% endblock %}
