{% extends "main.html" %}
{% load static %}
{% load news_utils %}

{% block sitetitle %}
         <title>{{ page.title }} || {{ site.title|default:"Kathmandu Tribune" }}  </title>
{% endblock %}




{% block content %}
<div class="main">
        
<div class="news-page">
            <div class="content container">
                <div class="row featured-posts">
                    <div class="news-post col-lg-8 col-md-12 col-sm-12 col-xs-12">
                      <div class="post-content">
                        {% autoescape off %}
                                {{ page.content }}
                        {% endautoescape %}
                      </div>
                    
                    </div>
                     <div class="posts col-lg-4 col-md-12">
                        <div class="smart-sidebar">
                            <div class="sidebar__inner  sticky-top">
                                {% if page.has_sidebar %}
                                  {% autoescape off %}
                                      {{ site.site|get_sidebar_sections }}
                                  {% endautoescape %}
                              {% endif %}
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div> <!-- Featured section -->

</div><!-- main -->


{% endblock %}