<!DOCTYPE html>
<html>
<head>
	<title>Rest api</title>
</head>
<body>

    <form action='.' method='POST'> {% csrf_token %}
	 {{ form.as_p }}
	 
	 <p>
	  Answer:
	 {{ object.answer }}<br>
	  View:
	 {{ object.views }}<br>
	 Add new answer :<br>
	 <input type='text' name='views'><br>
	 <input type='submit' value='Save' />
     </p>

	 </form>
</body>
</html>