<!DOCTYPE html>
<html>
<head>
	<title>SURVEY</title>
</head>
<body>

    <form action='.' method='POST'> {% csrf_token %}
        <input type="text" name="question" value="This is question"><br>
	   <!--{{ form.as_p }}-->
	    Write your answer:<br> 
		<input placeholder="Answer Here" type="text" name="answer"><br>
        <br>
    	Email:
    	<input placeholder="Email" type="email" name="email"><br>
	    <input type='submit' value='Save' /> 
	 </form>
</body>
</html>