<!DOCTYPE html>
<html>
    <head>
        <title>LOGIN</title>
    </head>
    <body>
        {% if form.errors %}
        <p>There is something wrong </p>
        {% endif %}
        
        {% if next %}
        <p>You cannot access this page</p>
        {% endif %}
        
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            
            <p>Username: {{ form.username }}</p>
            <p>Password: {{ form.password }}</p>
            
            <p><input type="submit" value="login"></p>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
        
    </body>
</html>