<!DOCTYPE html>
<html>
    <head>
        <title>LOGIN</title>
    </head>
    <body>
        <h1>Registration Page!!</h1>
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            
            {% if form.errors %}
            <p>There is errors in the form</p>
            {% endif %}
            
            {{ form }}
            
            <input type="submit" value="Register">
        </form>
        
    </body>
</html>